body {
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica;
}

.app__AirPodsMaxImage {
  width: 80vh;
  height: auto;
}

.app__lc_new {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  padding-bottom: 3px;
  box-sizing: border-box;
  white-space: nowrap;
  display: block;
  color: #bf4800;
}
